<!doctype html>
<html>
<head>
    <title>Mentorly</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/34a7438a39.js"></script>
    <style>
        body        { padding-top:80px; }
        p { font-size: 20px; }
    </style>
</head>
<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Mentorly</h1>
            <h4>A web based social network platform for connecting the mentees and mentors.</h4>
            <a href="/login" class="btn btn-success"><i class="fa fa-pied-piper" aria-hidden="true"></i>Login</a>
            <a href="/signup" class="btn btn-primary"><i class="fa fa-pied-piper" aria-hidden="true"></i>Signup</a>
        </div>

    </div>
</body>
</html>