<!doctype html>
<html>
<head>
    <title>Mentorly</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="https://use.fontawesome.com/34a7438a39.js"></script>
    <style>
        body        { padding-top:80px; }
        p { font-size: 20px; }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span>Signup</h1>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <form action="/login" method="post">
            <div class="form-group">
                <i class="fa fa-envelope-o fa-fw"></i><input type="text" class="form-control" name="email" placeholder="Email address">
            </div>
            <div class="form-group">
                <i class="fa fa-key fa-fw"></i><input type="password" class="form-control" name="password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>
        <hr>
        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Take me to <a href="/">Home</a></p>
    </div>
</div>
</body>
</html>